<div th:fragment="headerbar" class="container">
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <img class="d-flex align-items-center col-md-1 navbar-brand img-responsive" th:src="@{pictures/sabiba_LOGO_sansBG.png}" alt="logo" >

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a th:href="@{/index}" class="nav-link px-2 link-dark">Accueil</a></li>
          <li><a th:href="@{/categories}" class="nav-link px-2 link-dark">Catégories</a></li>
          <li><a th:href="@{/about}" class="nav-link px-2 link-dark">A Propos</a></li>
        </ul>

        <div class="dropdown text-end">
          <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
            </svg>
          </button>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" th:href="@{/index}">Accueil</a></li>
            <li><a class="dropdown-item" th:href="@{/categories}">Catégories</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" th:href="@{/about}">A Propos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>