<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sadida - Categories</title>
  <link th:href="@{css/bootstrap.css}" rel="stylesheet" />
</head>
<body>

<div th:replace="fragments/header :: headerbar"></div>

<div th:replace="fragments/sidebar :: sidebar"></div>

<!--Container Main start-->
<div class="col">
  <section class="py-5 text-center container">
    <div class="container px-4 py-5" id="custom-cards">
      <h2 class="pb-4 border-bottom">Catégories</h2>
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <th:block th:each="categorie : ${categories}">
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" th:style="'background-image:url(/pictures/'+${categorie.nom}+'.png);'">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 th:text="'Collection '+${categorie.nom}" class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img th:src="@{pictures/sadida_LOGO_avecBG_carre.jpg}" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <a th:href="@{/produits(idCategorie=${categorie.id})}"  class="btn btn-primary my-2">Voir</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </th:block>
      </div>
    </div>
  </section>
</div>
</div>

<div th:replace="fragments/footer :: footerbar"></div>

<script type="text/javascript" th:src="@{js/bootstrap.bundle.js}"></script>
</body>
</html>