<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sadida - Ajouter Categorie</title>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet" />
</head>
<body>

<div th:replace="fragments/header :: headerbar"></div>

<div th:replace="fragments/sidebar :: sidebar"></div>

<!--Container Main start-->

<div class="col">
    <div class="position-relative overflow-hidden p-3 p-md-2 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 pb-5 fw-normal">Supprimer un produit</h1>
            <div class="product-device pt-4 pb-3 d-none d-md-block">
                <h2 class="pb-2">Supprimer un produit par nom</h2>

                <form th:action="@{/supprimerProduitParNom}" th:object="${produit}" method="post">
                    <div class="row g-3">

                        <div class="col-12">
                            <label for="nomProduit" class="form-label">Nom du produit</label>
                            <input type="text" th:field="${produit.nom}" class="form-control" id="nomProduit" placeholder="Nom du produit" required>
                            <div class="invalid-feedback">
                                Veuillez saisir un nom valide.
                            </div>
                        </div>

                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" type="submit">Supprimer</button>

                    </div>
                </form>

            </div>

            <br>
            <br>

            <div class="product-device pt-4 pb-3 d-none d-md-block">
                <h2 class="pb-2">Supprimer un produit par référence</h2>

                <form th:action="@{/supprimerProduitParRef}" th:object="${produit}" method="post">
                    <div class="row g-3">

                        <div class="col-12">
                            <label for="referencePRoduit" class="form-label">Référence du produit</label>
                            <input type="text" th:field="${produit.reference}" class="form-control" id="referencePRoduit" placeholder="Référence du produit" required>
                            <div class="invalid-feedback">
                                Veuillez saisir un nom valide.
                            </div>
                        </div>

                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" type="submit">Supprimer</button>

                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
</div>

<div th:replace="fragments/footer :: footerbar"></div>

<script type="text/javascript" th:src="@{js/bootstrap.bundle.js}"></script>
</body>
</html>