<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sadida - Données</title>
  <link th:href="@{css/bootstrap.css}" rel="stylesheet" />
</head>
<body>

<div th:replace="fragments/header :: headerbar"></div>

<div th:replace="fragments/sidebar :: sidebar"></div>

<!--Container Main start-->
<div class="col">
  <div class="position-relative overflow-hidden p-3 p-md-2 m-md-3 text-center bg-light">
    <div class="p-lg-5 mx-auto my-5">
      <h1 class="display-4 pb-5 fw-normal">Données du site</h1>
      <br>
      <br>


      <h1 class="display-4 pb-5 fw-normal">Categories</h1>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
          </tr>
          </thead>
          <tbody>
            <tr th:each="categorie : ${categories}">
              <td th:text="${categorie.id}">ID</td>
              <td th:text="${categorie.nom}">Nom</td>
            </tr>
          </tbody>
        </table>
      </div>

      <br>
      <br>

      <h1 class="display-4 pb-5 fw-normal">Produits</h1>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Référence</th>
            <th scope="col">Nom</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Prix</th>
            <th scope="col">Description</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="produit : ${produits}">
            <td th:text="${produit.id}">ID</td>
            <td th:text="${produit.reference}">reference</td>
            <td th:text="${produit.nom}">Nom</td>
            <td th:each="categorie : ${produit.categorie}" > <span th:text="${categorie.nom}"></span></td>
            <td th:text="${produit.prix}">Prix</td>
            <td th:text="${produit.description}">Description</td>
          </tr>
        </table>
          </tbody>
        </table>
      </div>

      <br>
      <br>

      <h1 class="display-4 pb-5 fw-normal">Promotion</h1>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Réduction</th>
            <th scope="col">Produit</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="promotion : ${promotions}">
            <td th:text="${promotion.id}">ID</td>
            <td th:text="${promotion.nom}">Nom</td>
            <td th:text="${promotion.reduction}">Reduction</td>
            <td th:each="produit : ${promotion.produit}" > <span th:text="${produit.nom}"></span></td>
          </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footerbar"></div>

<script type="text/javascript" th:src="@{js/bootstrap.bundle.js}"></script>
</body>
</html>