<!DOCTYPE html>
<html  lang="fr" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lister - Sadida</title>
</head>
<body>

  <h1 class="display-4 pb-5 fw-normal">Promotions dans la base de données</h1>

  <table border="1">
    <tr>
      <th>ID</th>
      <th>Nom</th>
    </tr>
    <tr th:each="categorie : ${categories}">
      <td th:text="${categorie.id}">ID</td>
      <td th:text="${categorie.nom}">Nom</td>
    </tr>
  </table>

  <h1 class="display-4 pb-5 fw-normal">Produits dans la base de données</h1>

  <table border="1">
    <tr>
      <th>ID</th>
      <th>Reference</th>
      <th>Nom</th>
      <th>Prix</th>
      <th>Description</th>
    </tr>
    <tr th:each="produit : ${produits}">
      <td th:text="${produit.id}">ID</td>
      <td th:text="${produit.reference}">reference</td>
      <td th:text="${produit.nom}">Nom</td>
      <td th:text="${produit.prix}">Prix</td>
      <td th:text="${produit.description}">Description</td>
    </tr>
  </table>

  <h1 class="display-4 pb-5 fw-normal">Promotions dans la base de données</h1>

  <table border="1">
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>reduction</th>
    </tr>
    <tr th:each="promotion : ${promotions}">
      <td th:text="${promotion.id}">ID</td>
      <td th:text="${promotion.nom}">Nom</td>
      <td th:text="${promotion.reduction}">reduction</td>
    </tr>
  </table>

</body>
</html>